.container {
  max-width: 736px;
  margin: 0 auto;
  padding: 0 0.75rem;
}

body {
  background-color: var(--gray-600);
}

.formContainer {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  margin-top: -25px;
}

.formContainer > input {
  flex: 1;
}
