:root {
  --blue-700: #1e6f9f;
  --blue-500: #4ea8de;

  --purple-700: #5e60ce;
  --purple-500: #8284fa;

  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;

  --danger: #e25858;
}

* {
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  :root {
    font-size: 14px;
  }
}
